/*
Twando.com Free PHP Twitter Application
http://www.twando.com/
*/

body {
margin: 0px;
padding: 0px 0px 10px 0px;
border: 0px;
font-size: 14px;
font-family: Arial;
background: #33ccff;
line-height: 1.3em;
}

body a:link {color : #0000d1; text-decoration:none;}
body a:visited{color : #0000d1; text-decoration:none;}
body a:active {color : #0000d1; text-decoration:none;}
body a:hover {color : #ff0000; text-decoration:underline;}

img {border: 0;}
form {display: inline;}
ul {list-style-type:square; list-style-position:outside;}
td {padding: 1px;}
.success {color: #45A70F; font-weight: bold;}
.error {color: #FF0000; font-weight: bold;}
.input_box_style {border: 1px solid #616161; padding: 2px; font-family: Arial; width: 250px; margin: 2px 0px 2px 0px; background: #fff;}
.submit_button_style {font-size: 16px; padding: 6px; cursor: pointer; margin: 6px 0px 0px 0px;}
h2 {font-size: 16px; font-weight: bold;}

#container {
position:relative;
width: 960px;
margin-left: auto;
margin-right: auto;
overflow: hidden;
}

#header_main {
float: left;
width: 100%;
height: 147px;
margin: 5px 0px 5px 0px;
text-align: center;
}

#centre_main {
float: left;
width: 100%;
margin: 5px 0px 5px 0px;

}

#centre_main #cred_update_div {
width: 100%;
clear: both;
margin: 5px 0px 5px 0px;
}

#centre_main .follow_ex_block {
float: left;
width: 460px;
}

#centre_main .follow_scroll_block {
float: left;
width: 450px;
height: 260px;
overflow-y: auto;
overflow-x: hidden;
}

#centre_main .tab_row {
float: left;
width: 100%;
height: 30px;
background: url(../images/tab_bg.gif) bottom repeat-x;
}

#centre_main .tab_main {
float: left;
font-weight: bold;
border: 1px solid #33ccff;
text-align: center;
padding: 5px 15px 5px 15px;
margin: 0px 10px 0px 0px;
background: #fff;
height: 18px;
}

#centre_main .affuser {
float: left;
width: 24px;
height: 24px;
margin: 0px 2px 2px 0px;
}

#centre_main .cron_row {
float: left;
width: 100%;
clear: both;
}

#centre_main .cron_left {
float: left;
width: 150px;
margin: 3px 0px 0px 0px;
}

#centre_main .cron_right {
float: left;
width: 805px;
}



.page_nav {
float: left;
width: 948px;
padding: 5px;
border: 1px solid  #33ccff;
margin: 6px 0px 6px 0px;
font-size: 12px;
}

.page_nav .left_side {
float: left;
padding: 3px 0px 0px 0px;
}

.page_nav .right_side {
float: right;
text-align: right;
}

.page_nav .box {
float: left;
border: 1px solid  #33ccff;
padding: 2px;
margin: 0px 0px 0px 3px;
}

.page_nav .boxw {
float: left;
border: 1px solid #9AE4E8;
padding: 2px;
margin: 0px 0px 0px 3px;
}


#footer {
float: left;
width: 100%;
border-top: 2px solid #fff;
text-align: center;
margin: 10px 0px 10px 0px;
padding: 5px 0px 0px 0px;
}

table.data_table {
width: 100%;
border-top: 1px solid #616161;
border-left: 1px solid #616161;
border-collapse: collapse;
text-align: left;
margin: 6px 0px 6px 0px;
}

table.data_table td {
padding: 2px 5px 2px 5px;
border-bottom: 1px solid #616161;
border-right: 1px solid #616161;
}

table.data_table td.heading {
font-weight: bold;
font-size: 16px;
background: #fff;
color: #333;
}

